<p id="notice"><%= notice %></p>

<p>
  <strong>Date and time of meal:</strong>
  <%= @meal.date_and_time_of_meal %>
</p>

<p>
  <strong>Still active:</strong>
  <%= @meal.still_active %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @meal.deadline %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
