<p id="notice"><%= notice %></p>

<p>
  <strong>Date and time:</strong>
  <%= @meal.date_and_time %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @meal.deadline %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
