<h1>Listing feedback_for_meals</h1>

<table>
  <thead>
    <tr>
      <th>Meal</th>
      <th>Person belongs to</th>
      <th>Body</th>
      <th>Date of meal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedback_for_meals.each do |feedback_for_meal| %>
      <tr>
        <td><%= feedback_for_meal.meal %></td>
        <td><%= feedback_for_meal.person_belongs_to %></td>
        <td><%= feedback_for_meal.body %></td>
        <td><%= feedback_for_meal.date_of_meal %></td>
        <td><%= link_to 'Show', feedback_for_meal %></td>
        <td><%= link_to 'Edit', edit_feedback_for_meal_path(feedback_for_meal) %></td>
        <td><%= link_to 'Destroy', feedback_for_meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback for meal', new_feedback_for_meal_path %>
