<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @feedback_for_meal.meal %>
</p>

<p>
  <strong>Person belongs to:</strong>
  <%= @feedback_for_meal.person_belongs_to %>
</p>

<p>
  <strong>Body:</strong>
  <%= @feedback_for_meal.body %>
</p>

<p>
  <strong>Date of meal:</strong>
  <%= @feedback_for_meal.date_of_meal %>
</p>

<%= link_to 'Edit', edit_feedback_for_meal_path(@feedback_for_meal) %> |
<%= link_to 'Back', feedback_for_meals_path %>
