<%= form_for(@indication_for_meal) do |f| %>
  <% if @indication_for_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indication_for_meal.errors.count, "error") %> prohibited this indication_for_meal from being saved:</h2>

      <ul>
      <% @indication_for_meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component %><br>
    <%= f.text_field :component %>
  </div>
  <div class="field">
    <%= f.label :attendance %><br>
    <%= f.text_field :attendance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
