<h1>Listing indication_for_meals</h1>

<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Attendance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @indication_for_meals.each do |indication_for_meal| %>
      <tr>
        <td><%= indication_for_meal.component %></td>
        <td><%= indication_for_meal.attendance %></td>
        <td><%= link_to 'Show', indication_for_meal %></td>
        <td><%= link_to 'Edit', edit_indication_for_meal_path(indication_for_meal) %></td>
        <td><%= link_to 'Destroy', indication_for_meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indication for meal', new_indication_for_meal_path %>
