<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @component_meal.meal %>
</p>

<p>
  <strong>Component belongs to:</strong>
  <%= @component_meal.component_belongs_to %>
</p>

<%= link_to 'Edit', edit_component_meal_path(@component_meal) %> |
<%= link_to 'Back', component_meals_path %>
