<%= form_for(@allergen_warning) do |f| %>
  <% if @allergen_warning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allergen_warning.errors.count, "error") %> prohibited this allergen_warning from being saved:</h2>

      <ul>
      <% @allergen_warning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :warning_content %><br>
    <%= f.text_field :warning_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
