<h1>Listing allergen_components</h1>

<table>
  <thead>
    <tr>
      <th>Allergen warning</th>
      <th>Component</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @allergen_components.each do |allergen_component| %>
      <tr>
        <td><%= allergen_component.allergen_warning %></td>
        <td><%= allergen_component.component %></td>
        <td><%= link_to 'Show', allergen_component %></td>
        <td><%= link_to 'Edit', edit_allergen_component_path(allergen_component) %></td>
        <td><%= link_to 'Destroy', allergen_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allergen component', new_allergen_component_path %>
